 @import './base.css';


 body {
  background-color: #E3EDCF;
  margin: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}


h1 {
  font-family: montyblack;
  font-size: 65px;
}

h2 {
  font-family: montybold;
  font-size: 45px;    
}

h3 {
  font-family: montyreg;
  font-size: 30px;
}

h4 {
  font-family: montyreg;
  font-size: 20px;
}


p {
  font-family: montyreg;

}



.pointpoint {
  background-color: grey;
  display: flex;
  text-align: center;
  flex-direction: column;

}

.pointh1 {
  margin-bottom: -20px;
}


.pointsection {
  
  display: flex;
  align-items: center;
  height: 140px;
  justify-content: space-around;
}

.pointbox {
  display: flex;
  flex-direction: column;
}