 @import './base.css';


 body {
  background-color: #E3EDCF;
  margin: 20px;
  margin-bottom: 100px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}


h1 {
  font-family: montyblack;
  font-size: 65px;
}

h2 {
  font-family: montybold;
  font-size: 45px;    
}

h3 {
  font-family: montyreg;
  font-size: 30px;
}

h4 {
  font-family: montyreg;
  font-size: 20px;
}


p {
  font-family: montyreg;

}



.pointpoint {
  background-color: #007836;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 4px;

}

.pointh1 {
  margin-bottom: -20px;
  color: white;
}

#h1point {
  margin-bottom: -20px;
  color: white;
}

.textwhite {
  color: white;
}


.pointsection {
  
  display: flex;
  align-items: center;
  height: 140px;
  justify-content: space-around;
}

.pointbox {
  display: flex;
  flex-direction: column;
}




.coupon {
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.coupon img {
  max-width: 100%;
  height: auto;
}

#topnav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
margin-bottom: 20px;
}

#navfordele {
  background-color: #ABD18F;
  width: 170px;
  height: auto;
  color: #EDF0E8;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

#navvilde {
  background-color: #457443;
  width: 170px;
  height: 50px;
  color: #EDF0E8;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}



footer {
  display: flex;
  background-color: #ABD18F;
  position:fixed;
  bottom: 0;
  width: 100%;
  margin-left: -20px;
  

}

#botnav {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  
  
}

.botnavcards {
  
  width: auto;
  height: 50px;
  padding: 0 10px;
  display: flex;
  text-decoration: none;

}


.botnavpic {
  height: 20px;
  display: flex;

}

.botnavalign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: initial;
}

#botnavactive {
  background-color: #e3edcf7c;
  border-radius: 10px;
  padding: 5px;
}

.botnavcolor {
  color: black;
}